* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primario-rojo: #e60000;
    --color-primario-negro: #212529;
    --color-primario-gris: #cccccc;
    --color-secundario-rojo: #ff3636;
    --color-secundario-negro: #353638;
    --color-secundario-gris: #eaeaea;
  
    --color-primario-rojo-hover: #b52a2a;
    --color-primario-negro-hover: #131316;
    --color-primario-gris-hover: #999999;
    --color-secundario-rojo-hover: #cf1515;
    --color-secundario-negro-hover: #202022;
    --color-secundario-gris-hover: #bababa;
}

@media (min-width: 1200px) {
    .container.container-modify {
        max-width: 1200px;
    }
}

.top-header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-secundario-gris)
}

.top-header .container {
    display: flex;
    justify-content: space-between;
}

.top-header .top-header-options {
    display: none;
}

@media (min-width: 768px) {
    .top-header .top-header-options {
        display: block;
    }
}

.top-header .top-header-welcome,
.top-header .top-header-options {
    color: var(--color-primario-gris-hover);
    font-size: 0.9em;
}

.top-header-options .top-header-option {
    color: var(--color-primario-gris-hover);
    margin-right: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid var(--color-primario-gris);
}

.top-header-options .top-header-option:hover{
    text-decoration: none;
}

.top-header-options .top-header-option i {
    margin-left: 5px;
    color: var(--color-primario-gris)
}

.top-header-options .top-header-option:last-child {
    margin-right: 0;
}

.top-header-options .top-header-option.dropdown {
    display: inline-block;
}

.top-header-options .top-header-option.dropdown .dropdown-toggle {
    color: var(--color-primario-gris-hover);
}

.top-header-options .top-header-option.dropdown .dropdown-toggle:hover{
    text-decoration: none;
}

.top-header-options .top-header-option.dropdown .dropdown-toggle::after {
    border:0;
    margin-left:initial;
    vertical-align:initial;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    /* height: 85px; */
    /* background-color: var(--color-secundario-gris); */
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container {
    width: 100%;
}

@media (min-width: 768px) {
    .header__container {
        width: initial;
    }
}

.header__logo {
    max-height: 45px;
}

.header__hamburger {
    height: 22px;
    margin-right: 20px;
    cursor: pointer;
}

.header__cart {
    font-size: 20px;
    color: var(--color-primario-rojo);
    cursor: pointer;
    position: relative;
    padding-right: 20px;
}

.header__cart:hover {
    color: var(--color-primario-rojo-hover);
    text-decoration: none;
}

.header__cart img {
    height: 22px;
}

.header__cart .badge {
    color: #fff;
    background-color: var(--color-primario-rojo);
    font-size: 0.7em;
    padding: 0.25em .46em;
    border-radius: 50%;
    position: absolute;
    bottom: 6px;
    right: -8px;
    border: 3px solid #fff;
}

@media (min-width: 576px) {
    .header__search {
        width: 500px;
    }
}

@media (min-width: 768px) {
    .header__search {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .header__search {
        width: 300px;
    }
}

@media (min-width: 1200px) {
    .header__search {
        width: 500px;
    }
}

.header__search input:focus {
    box-shadow: initial;
}

.header__search .search__button {
    background-color: var(--color-primario-rojo);
    color: white;
    /* border-top-right-radius: 6.1875rem;
    border-bottom-right-radius: 6.1875rem; */
}

.header__search .search__input {
    height: calc(1.5em + .75rem + 10px);
    border: 2px solid var(--color-primario-rojo);
    /* border-top-left-radius: 6.1875rem;
    border-bottom-left-radius: 6.1875rem; */
}

.header__buttons {
    color: var(--color-primario-rojo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.header__buttons .header__button {
    margin-right: 15px;
}

.header__buttons .header__button:last-child {
    margin-right: 0;
}

.header__buttons .header__button a {
    position: relative;
}

.header__buttons .header__button a .badge {
    color: #fff;
    background-color: var(--color-primario-rojo);
    font-size: 0.7em;
    padding: 0.25em .46em;
    border-radius: 50%;
    position: absolute;
    bottom: 6px;
    right: -8px;
    border: 3px solid #fff;
}

.header__buttons .header__button.user,
.header__buttons .header__button.cart {
    display: flex;
    align-items: center;
}

.header__buttons .header__button.user .user-text,
.header__buttons .header__button.cart .cart-text {
    color: var(--color-primario-negro);
}

.header__buttons .header__button.cart .cart-text {
    margin-left: 10px;
}

.header__buttons .header__button.user .user-text:hover,
.header__buttons .header__button.cart .cart-text:hover {
    color: var(--color-primario-rojo-hover);
}

.header__buttons .header__button.user .user-text .text--secondary,
.header__buttons .header__button.cart .cart-text .text--secondary {
    font-size: 0.8em;
}

.header__buttons .header__button.user .user-text .text--primary, 
.header__buttons .header__button.cart .cart-text .text--primary {
    font-size: 0.9em;
}

.header__buttons .header__button img{
    height: 22px;
    margin-right: 7px;
}

.header__buttons a:hover {
    text-decoration: none;
}

.header__buttons .header-cart-total {
    margin-left: 12px;
}

.header-cart-total {
    font-weight: bold;
}

.bottom-header {
    border-top: 4px solid var(--color-primario-rojo);
    /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26); */
    z-index: 999;
    height: 45px;
    border-bottom: 1px solid var(--color-primario-gris);
    margin-bottom: 20px;
}

.bottom-header .featured {
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
}

@media(max-width: 992px){
    .bottom-header{
        display: none;
    }
}

.sidebar__navigation {
    position: fixed;
    width: 300px;
    top: 0;
    left: -300px;
    height: 100vh;
    background-color: #fff;
    padding: 40px 20px;
    z-index: 10000;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .sidebar__navigation {
        width: 400px;
        padding: 50px 40px;
        left: -400px;
    }
}

.sidebar__navigation.show {
    left:0;
}

.sidebar__title {
    color: var(--color-primario-negro);
    font-weight: bold;
}

.sidebar__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-secundario-gris);
}

.sidebar__logo img {
    width: 80%;
}

.sidebar__logo .times {
    cursor: pointer;
}

.sidebar__menu {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--color-secundario-gris);
    display: flex;
    justify-content: space-between;
}

.sidebar__menu a {
    color: var(--color-primario-negro);
    padding: 10px;
    border: 1px solid var(--color-primario-gris);
}

.sidebar__menu a:hover {
    text-decoration: none;
    background-color: var(--color-primario-gris);
    color: white;
    transition: 0.5s;
}

.sidebar__menu li {
    list-style-type: none;
}

.sidebar__menu .menu {
}

.sidebar__menu .menu.total{
    margin-top: 10px;
}

.sidebar__user {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-secundario-gris);
}
 .sidebar__user ul {
     margin-bottom: 0;
 }

.sidebar__user ul li {
    list-style: none;
}

.sidebar__user a {
    color: var(--color-primario-negro);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: inline-block;
}

.sidebar__user a:hover {
    text-decoration: none;
}

.sidebar__user a i {
    margin-right: 15px;
    color: var(--color-primario-rojo);
}

.sidebar__search {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-secundario-gris);
}

.sidebar__search .sidebar__form {
    margin-top: 0.8rem;
    display: flex;
}

.sidebar__search .sidebar__form button[type=submit]{
    background-color: var(--color-primario-negro);
    color: white;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar__search .search {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-primario-gris);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.sidebar__search .search:focus {
    outline: 0;
}

.sidebar__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out 0s;
    background-color: rgba(0, 0, 0, 0.7);
}

.sidebar__overlay.show {
    display: block;
}

.sidebar__categories {
    padding-top: 10px;
}

.sidebar__categories.scroll {
    flex: 1;
    overflow-y: auto;
}

.sidebar__categories.scroll::-webkit-scrollbar {
    width: 8px;
  }
  
.sidebar__categories.scroll::-webkit-scrollbar-thumb {
background: var(--color-primario-gris);
border-radius: 4px;
}

.sidebar__categories.scroll::-webkit-scrollbar-thumb:active {
background-color: var(--color-primario-gris-hover);
}

.sidebar__categories.scroll::-webkit-scrollbar-thumb:hover {
background: #b3b3b3;
box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.sidebar__categories.scroll::-webkit-scrollbar-track {
    background: var(--color-secundario-gris);
    border-radius: 4px;
}

.sidebar__categories a {
    color: var(--color-primario-negro);
}

.sidebar__categories a:hover {
    text-decoration: none;
}

.sidebar__categories ul {
    list-style: none;
}

.sidebar__categories > ul {
    margin-right: 8px;
}

.sidebar__categories .categories__item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid var(--color-secundario-gris);
}

.sidebar__categories .categories__item a * {
    pointer-events: none;
}

.sidebar__categories .categories__name {
    display: flex;
    font-weight: 500;
}

.sidebar__categories .categories__name img {
    width: 25px;
    margin-right: 15px;
}

.sidebar__categories .categories__item a .caret {
    font-size: 0.5rem;
}

.sidebar__categories .categories__item > ul {
    overflow: hidden;
    height: 0;
    margin-left: 5px;
    padding-left: 10px;
    border-left: 2px solid var(--color-primario-rojo);
    transition: 0.5s;
}

.sidebar__categories .categories__item ul.show {
    height: auto;
}

.sidebar__categories .categories__item > ul li ul {
    overflow: hidden;
    height: 0;
    margin-left: 5px;
    padding-left: 10px;
    border-left: 2px solid var(--color-primario-gris-hover);
    transition: 0.5s;
}
